<section>
    <div class="container">
        <div class="pt-5">
            <h4 style="text-align: center;">Create new account</h4>
            <form action="/user-signup" method="post">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" id="" placeholder="Enter name" name="UserName">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" id="" placeholder="Enter email" name="Email">
                </div>
                <div class="form-group">
                    <label for="">Mobile number</label>
                    <input type="number" class="form-control" id="" placeholder="Enter mobile number" name="MobileNumber">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" id="" placeholder="Password" name="Password">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                <div style="float: right;">
                    <a href="/user-login">already have account ?</a>
                </div>
            </form>
        </div>
    </div>
</section>