<section>
        <div class="container">
            <div class="pt-5">
                <h4 style="text-align: center;">Add Upcomming Moive</h4>
                <form action="/distributer/add-upcomming" method="post" enctype="multipart/form-data">
                    <div class="p-3" style="float: left; width: 50%; ">
                        <div class="form-group">
                            <label for="">Movie name</label>
                            <input type="text" class="form-control" id="" placeholder="Enter moive name" name="UpcommingMovieName">
                        </div>
                        <div class="form-group">
                            <label for="">Discription</label>
                            <input type="text" class="form-control" id="" placeholder="Enter discription" name="UpcommingMovieDescription">
                          </div>
                        <div class="form-group">
                            <label for="">Language</label>
                            <input type="text" class="form-control" id="" placeholder="Enter language" name="UpcommingMovieLanguage">
                          </div>
                          <div class="form-group">
                            <label for="">Duration</label>
                            <input type="time" class="form-control" id="" placeholder="Enter duration of moive" name="UpcommingMovieDuration">
                          </div>
                    </div>
                    <div class="p-3" style="float: left; width: 50%;">
                          <div class="form-group">
                            <label for="">Director name</label>
                            <input type="text" class="form-control" id="" placeholder="Enter director name" name="UpcommingMovieDirectorName">
                          </div>
                          <div class="form-group">
                            <label for="">Hero name</label>
                            <input type="text" class="form-control" id="" placeholder="Enter hero name" name="UpcommingMovieHeroName">
                          </div>
                          <div class="form-group">
                            <label for="">Heroine name</label>
                            <input type="text" class="form-control" id="" placeholder="Enter heroine name" name="UpcommingMovieHeroineName">
                          </div>
                          <div class="form-group">
                            <label for="">Movie Image</label>
                            <input type="file" class="form-control" id="" placeholder="Upload image" name="UpcommingMovieImage">
                        </div>
                          
                          <button type="submit" class="btn btn-primary mt-2" style="float: right;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>