<section>
    <div class="container">
        <div class="pt-5">
            <h4 style="text-align: center;">Add Current Moive</h4>
            <form action="/distributer/add-current" enctype="multipart/form-data" method="post">
                <div class="p-3" style="float: left; width: 50%; ">
                    <div class="form-group">
                        <label for="">Movie Id</label>
                        <input type="text" class="form-control" id="" placeholder="Eg: 101,102,103....." name="MovieId">
                    </div>
                    <div class="form-group">
                        <label for="">Movie name</label>
                        <input type="text" class="form-control" id="" placeholder="Enter moive name" name="movieName">
                    </div>
                    <div class="form-group">
                        <label for="">Language</label>
                        <input type="text" class="form-control" id="" placeholder="Enter language" name="Language">
                    </div>
                    <div class="form-group">
                        <label for="">Show time 1</label>
                        <input type="time" class="form-control" id="" placeholder="" name="showTime1">
                    </div>
                    <div class="form-group">
                        <label for="">Show time 2</label>
                        <input type="time" class="form-control" id="" placeholder="" name="showTime2">
                    </div>
                    <div class="form-group">
                        <label for="">Show time 3</label>
                        <input type="time" class="form-control" id="" placeholder="" name="showTime3">
                    </div>
                </div>
                <div class="p-3" style="float: left; width: 50%;">
                    <div class="form-group">
                        <label for="">Discription</label>
                        <input type="text" class="form-control" id="" placeholder="Enter discription" name="Discription">
                    </div>
                    <div class="form-group">
                        <label for="">Duration</label>
                        <input type="time" class="form-control" id="" placeholder="Enter duration of moive" name="Duration">
                    </div>
                    <div class="form-group">
                        <label for="">Director name</label>
                        <input type="text" class="form-control" id="" placeholder="Enter director name" name="directorName">
                    </div>
                    <div class="form-group">
                        <label for="">Hero name</label>
                        <input type="text" class="form-control" id="" placeholder="Enter hero name" name="heroName">
                    </div>
                    <div class="form-group">
                        <label for="">Heroine name</label>
                        <input type="text" class="form-control" id="" placeholder="Enter heroine name" name="heroineName">
                    </div>
                    <div class="form-group">
                        <label for="">Movie Image</label>
                        <input type="file" class="form-control" id="" placeholder="Upload image" name="mImage">
                    </div>

                    <button type="submit" class="btn btn-primary mt-2" style="float: right;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>